@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem vindo!</h1>
    
</div>

<div class="row">
    <div class="col-md-4">        
        <p>
            Selecione o menu <strong>"Produtos" </strong> na barra de navegação.
        </p>        
    </div>
    
</div>